:root {
	--clr-primary-1: rgb(64, 0, 0);
	--clr-primary-2: rgb(79, 12, 12);
	--clr-primary-3: rgb(111, 17, 17);
	--clr-primary-4: rgb(142, 22, 22);
	--clr-primary-5: rgb(174, 26, 26);
	--clr-primary-6: rgb(206, 31, 31);
	--clr-primary-7: rgb(224, 49, 49);
	--clr-primary-8: rgb(229, 81, 81);
	--clr-primary-9: rgb(233, 113, 113);
	--clr-primary-10: rgb(243, 176, 176);

	/* Darker shades */
	--clr-secondary-1: rgb(1, 13, 18);
	--clr-secondary-2: rgb(5, 57, 80);
	--clr-secondary-3: rgb(1, 7, 9);
	--clr-secondary-4: rgb(12, 144, 203);
	/* Main color */
	--clr-secondary-5: rgb(14, 170, 241);
	/* Lighter shades */
	--clr-secondary-6: rgb(68, 189, 244);
	--clr-secondary-7: rgb(66, 188, 244);
	--clr-secondary-8: rgb(100, 201, 246);
	--clr-secondary-9: rgb(169, 225, 250);
	--clr-secondary-10: rgb(238, 249, 254);

	/* Dark grey used for headings */
	--clr-grey-1: rgb(9, 9, 9);
	--clr-grey-2: rgb(27, 27, 27);
	--clr-grey-3: rgb(43, 43, 48);
	--clr-grey-4: rgb(58, 58, 60);
	/* Grey used for paragraphs */
	--clr-grey-5: rgb(91, 91, 92);
	--clr-grey-6: rgb(137, 137, 137);
	--clr-grey-7: rgb(155, 155, 155);
	--clr-grey-8: rgb(222, 228, 233);
	--clr-grey-9: rgb(242, 242, 242);
	--clr-grey-10: rgb(244, 246, 248);

	--clr-white: #fff;
	--clr-black: #000;
	--transition: all 0.25s linear;

	--spacing-wide: 0.07em;
	--spacing-wider: 0.1em;
	--spacing-per: 0.01em;
	--shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-md: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--max-width-nav: 1492px;
	--max-width: 1292px;
	--underline-primary: rgb(14, 170, 241);
	--underline-secondary: rgb(224, 49, 49);

	/* important colors */
	--clr-white: rgb(255, 255, 255);
	--clr-black: #080808;
	--clr--blue-dark: #1e40af;
	--clr--blue-light: #3b82f6;
	--clr--red-dark: #730000;
	--clr--red-light: #ff0d0d;
	--clr--green-dark: #008c00;
	--clr--green-light: #008c00;
	--clr--purple-light: #590059;

	--smallText: 0.8em;
	--max-width: 1292px;
	--fixed-width: 600px;

	--shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

/* 

=============
Global styles
=============

*/
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--clr-grey-9);
	color: var(--clr-grey-1);
	line-height: 1.4;
	font-size: 0.975rem;
	letter-spacing: var(--spacing-per);
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;
	letter-spacing: var(--spacing);
	margin-bottom: 0.75rem;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}

p {
	margin-bottom: 0.35rem;
	color: var(--clr-grey-5);
	font-size: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

html {
	scroll-behavior: smooth;
}

/* to remove under scores */
a {
	text-decoration: none;
}

/* to remove the bullet points */
ul {
	list-style-type: none;
	padding: 0;
}

/* buttons */
.btn {
	color: var(--clr-primary-5);
	background: var(--clr--primary-700);
	font-size: 1.4rem;
	border: transparent;
	border-radius: var(--borderRadius);
	padding: 0.475rem 0.7rem;
	letter-spacing: var(--letterSpacing);
	text-transform: capitalize;
	box-shadow: var(--shadow-sm);
	transition: var(--transition);
	display: inline-block;
	transition: var(--transition);
	cursor: pointer;
}
.btn:hover {
	color: var(--clr-primary-9);
	background: black;
}

.title {
	text-align: center;
	font-size: 5rem;
	color: var(--clr-grey-2);
}

.title h2 {
	font-size: 2.5rem;
}

.underline {
	background: var(--clr-secondary-4);
	width: 6rem;
	height: 4px;
	margin: 0 auto;
}
/*  
=============
Courses
=============
*/

.courses {
	padding: 5rem 0;
}

.btn-container {
	margin-top: 2rem;
	margin-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1rem;
	row-gap: 1rem;
	/* Crucial if you don't want the name of the buttons appears weirdly. */
	flex-wrap: wrap;
}

.filter-btn {
	font-size: 1.1rem;
	padding: 0.375rem 0.6rem;
	border-radius: 4px;
	border: 1px solid var(--clr-primary-4);
	transition: var(--transition);
}

.filter-btn:hover {
	background: var(--clr-primary-5);
	color: var(--clr-white);
}

.section-center {
	width: 90vw;
	max-width: var(--max-width);
	margin: 0 auto;
	display: grid;
	justify-items: center;
	gap: 3rem 2rem;
}

.course {
	display: grid;
	max-width: 24rem;
	gap: 1rem 2rem;

	border-radius: 5px;
}

.course-photo {
	border: 2px solid var(--clr-primary-6);
	border-radius: 5px;
	height: 200px;
}

.course header {
	display: flex;
	justify-content: space-between;
	font-size: 1.1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing-wide);
	border-bottom: 2px dashed var(--clr-grey-5);
}

header h5 {
	margin-bottom: 0.8rem;
}

.duration {
	color: var(--clr-secondary-5);
}

.course-text {
	padding: 0.5rem 0rem;
	letter-spacing: var(--spacing-wide);
	color: var(--clr-grey-4);
}

@media screen and (min-width: 768px) {
	.course {
		grid-template-columns: 225px 1fr;
		gap: 1.4rem 0.8rem;
		max-width: 40rem;
		align-items: center;
	}
	.course-photo {
		height: 180px;
	}
}

/* Target the whole section */

@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
		grid-template-columns: 1fr 1fr;
	}
	.course-photo {
		height: 165px;
	}
	.course {
		align-items: start;
	}
}
