* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary-1: rgb(64, 0, 0);
	--clr-primary-2: rgb(79, 12, 12);
	--clr-primary-3: rgb(111, 17, 17);
	--clr-primary-4: rgb(142, 22, 22);
	--clr-primary-5: rgb(174, 26, 26);
	--clr-primary-6: rgb(206, 31, 31);
	--clr-primary-7: rgb(224, 49, 49);
	--clr-primary-8: rgb(229, 81, 81);
	--clr-primary-9: rgb(233, 113, 113);
	--clr-primary-10: rgb(243, 176, 176);

	--clr-secondary-1: rgb(1, 13, 18);
	--clr-secondary-5: rgb(14, 170, 241);
	--clr-secondary-10: rgb(238, 249, 254);

	--clr-grey-1: #09090b;
	--clr-grey-5: #71717a;
	--clr-grey-6: #a1a1aa;
	--clr-grey-9: #f4f4f5;
	--clr-white: #fff;
	--clr-black: #000;

	--transition: all 0.2s ease-in-out;
	--shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);

	--max-width: 1200px;
	--spacing-wide: 0.07em;
}

/* 
Global Styles
*/
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--clr-grey-9);
	color: var(--clr-grey-1);
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h5 {
	color: var(--clr-primary-5);
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

h2 {
	color: var(--clr-grey-1);
	font-size: 2rem;
}

/* Grid Layout */
.products {
	display: grid;
	grid-template-columns: 1fr 4fr;
	column-gap: 2rem;
	padding: 2rem;
	max-width: var(--max-width);
	margin: auto;
}

.filters-container {
	/* background-color: var(--clr-primary-10); */
	background: transparent;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: var(--shadow-sm);
	height: auto;
}

/* Search input */
.input-form {
	margin-bottom: 2rem;
}
.search-input {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	box-shadow: var(--shadow-sm);
}

/* Company buttons */
.companies {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.company-btn {
	background-color: var(--clr-primary-5);
	color: var(--clr-white);
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	cursor: pointer;
	transition: var(--transition);
}
.company-btn:hover {
	background-color: var(--clr-primary-7);
}

/* Products Grid */
.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1.5rem;
}

.product {
	background-color: var(--clr-white);
	border-radius: 10px;
	box-shadow: var(--shadow-lg);
	padding: 1rem;
	transition: var(--transition);
}
.product:hover {
	transform: scale(1.05);
	box-shadow: var(--shadow-lg);
}

.product img {
	width: 100%;
	border-radius: 10px;
	height: 20rem;
	object-fit: cover;
}

/* Footer in product */
.product footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.5rem;
}

.product-name {
	font-size: 1rem;
	color: var(--clr-grey-1);
	font-weight: bold;
}

.product-price {
	color: var(--clr-primary-5);
	font-size: 1.1rem;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.products {
		grid-template-columns: 1fr;
	}
	.filters-container {
		margin-bottom: 2rem;
	}
}
