* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary cylan color */
  --clr--primary-50: #59ffff;
  --clr--primary-100: #0dffff;
  --clr--primary-200: #1adbbe;
  --clr--primary-300: #29d1b8;
  --clr--primary-400: #29a794;
  --clr--primary-500: #008c8c;
  --clr--primary-600: #007373;
  --clr--primary-700: #005959;
  --clr--primary-800: #004040;
  --clr--primary-900: #002626;
  --clr--primary-1000: #000d0d;

  /* primary gray color mdigi */
  --clr--grey-50: #fafafa;
  --clr--grey-100: #f4f4f5;
  --clr--grey-200: #e4e4e7;
  --clr--grey-300: #d4d4d8;
  --clr--grey-400: #a1a1aa;
  --clr--grey-500: #71717a;
  --clr--grey-600: #52525b;
  --clr--grey-700: #3f3f46;
  --clr--grey-800: #27272a;
  --clr--grey-900: #18181b;
  --clr--grey-1000: #09090b;

  /* important colors */
  --clr-white: rgb(255, 255, 255);
  --clr-black: #080808;
  --clr--blue-dark: #1e40af;
  --clr--blue-light: #3b82f6;
  --clr--red-dark: #730000;
  --clr--red-light: #ff0d0d;
  --clr--green-dark: #008c00;
  --clr--green-light: #008c00;
  --clr--purble-dark: #590059;
  --clr--purple-light: #590059;

  /* some other variables */
  --headingFont: "Scada", sans-serif;
  --bodyFont: "Cherry Swash", sans-serif;
  --borderRadius: 0.25rem;
  --letterSpacing: 1.1px;
  --transition: 0.3s all linear;
  --smallText: 0.8em;
  --max-width: 1172px;
  --fixed-width: 600px;

  /* important variables */
  --backgroundColor: var(--clr--grey-50);
  --textColor: var(--clr--grey-950);
  --border-line: 3px solid rgb(98, 211, 6);

  /* box-shadoo tailwand */
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr--grey-100);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.65;
  color: var(--textColor);
}

p {
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  /* margin-bottom: 1.4rem; */
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

/* to remove under scores */
a {
  text-decoration: none;
}

/* to remove the bullet points */
ul {
  list-style-type: none;
  padding: 0;
}

/* 
===============
Images
===============
*/

/* images by default are going to use their own width and height */
/* control by their parent container,which means take only as much is your parent can take. */
img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

/* if we do not add display block, there will be some empty space in bottom of the image around borders. */

/* buttons */
.btn {
  cursor: pointer;
  color: whitesmoke;
  font-size: 1.093rem;
  background: var(--clr--primary-700);
  border: transparent;
  border-radius: var(--borderRadius);
  padding: 0.475rem 0.7rem;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  box-shadow: var(--shadow-sm);
  transition: var(--transition);
  /* add this so that the margin can be respected and based on browser, it can be positioned. */
  display: inline-block;
  transition: var(--transition);
}

.btn:hover {
  color: var(--clr--primary-100);
  background: black;
}

/* 
===============
Loading
===============
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  height: 4rem;
  width: 4rem;
  border: 3px solid var(--clr--grey-300);
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  border-top-color: var(--clr--primary-800);
  animation: spinner 0.6s infinite linear;
}

.loading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* 
===============
Section
===============
*/

.block {
  min-height: 50vh;
}
.black-block {
  background-color: black;
}
.container {
  width: 90vw;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 1.1rem;
  margin-top: -200px;
  position: relative;
  border-radius: var(--borderRadius);
  background-color: var(--clr--grey-200);
  box-shadow: var(--shadow-lg);
}

.container::before {
  /* to have that grey back ground */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: rgb(172, 170, 170);
}

.user-image {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  /* to have that white color around */
  padding: 5px;
  background: var(--clr-white);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  box-shadow: var(--dark-shadow);
  margin: 2rem auto;
}

.user-name {
  color: var(--clr--grey-600);
  font-size: 1.2rem;
}
.user-value {
  color: var(--clr--grey-900);
  font-size: 1.5rem;
  font-weight: 600;
}

.values-list {
  display: grid;
  grid-template-columns: repeat(6, 20px);
  justify-content: center;
  column-gap: 1.3rem;
  margin: 1rem 0;
}

.values-list button {
  cursor: pointer;
  color: var(--clr--primary-500);
  background: var(--clr-grey-100);
  border: none;
  font-size: 1.2rem;
  transition: var(--transition);
}

.values-list button:hover {
  color: var(--clr--primary-900);
}

.active {
  color: var(--clr--purble-dark);
}

@media screen and (min-width: 800px) {
  .user-value {
    font-size: 38px;
  }
  .values-list button {
    font-size: 1.7rem;
  }
}
